body {
  margin: 0;
  padding: 0;
  background-color: #1a202c;
  height: 100vh;
}

.mobile-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
