body {
  margin: 0;
  padding: 0;
  background-color: #1a202c;
  height: 100vh;
}

.mobile-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

.scene-controls {
  background-color: #1a1a1a;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.solo-button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 8px;
}
