body {
  margin: 0;
  padding: 0;
  background-color: #1a202c;
  height: 100vh;
}

.mobile-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

.scene-controls {
  background-color: #1a1a1a;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.solo-button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 8px;
}
.color-control {
  display: flex;
  justify-content: center;
  padding: 8px;
}
.slider-control {
  padding: 8px 16px;
}
.tile-control {
  padding: 8px 14px;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  gap: 12px;
  .tile {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    border: 2px solid #444;
  }
}
